@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Ubuntu','Bitcount Grid Single';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0f0f;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .btn-primary {
    @apply bg-flow-green text-black font-bold py-3 px-6 rounded-lg hover:bg-opacity-90 transition-all duration-200 shadow-lg hover:shadow-xl;
  }
  
  .btn-secondary {
    @apply bg-flow-gray text-white font-bold py-3 px-6 rounded-lg hover:bg-opacity-80 transition-all duration-200 border border-flow-green;
  }
  
  .card {
    @apply bg-flow-gray rounded-xl p-6 shadow-xl border border-gray-700 hover:border-flow-green transition-all duration-200;
  }
  
  .input-field {
    @apply w-full bg-flow-dark border border-gray-700 rounded-lg px-4 py-3 text-white focus:outline-none focus:border-flow-green transition-all duration-200;
  }
}
